.header-section{
    position: fixed;
    z-index: 99;
    width: 99%;
}
.navbar{
    border-radius: 0px;
}
.navbar-inverse{
    background-color: #00304C;
    border-color: #00304C;
    color: white;
}
.nav>li{
    font-size: 16px;
}
.navbar-inverse .navbar-brand{
    color: white;
}
.navbar-inverse .navbar-nav>li>a{
    color: white;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
    color: white;
}
.navbar-inverse .navbar-brand{
    width:250px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
}
.navbar-brand>img{
    width: 40px;
    display: block;
    float: left;
    color: white;
    margin-right: 10px;
}

.leftMenu-section{
    position: fixed;
    display: inline-block;
    height: 100%;
    /* background: #292929; */
    background: #246f9a;
}

.body-section{
    position: relative;
    display: inline-block;
    top: 400px;
}